.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* .logo,
.header-mail-link,
.navigation-list-link,
.nav-list-link {
    text-decoration: none;
} */
.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-left: 15px;
}

.logo-blue {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 93px;
  }
}

.modal-form-button, .modal-form-button-footer {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: #FFFFFF;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button-footer {
  align-items: center;
}

.footer-three-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-form-button-footer {
    margin-left: 12px;
  }
}

.social-list, .social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-list-footer {
  width: 100%;
  height: 44px;
  justify-content: center;
}

.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-list-link, .social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.social-list-link-footer {
  background-color: #e5e5e52a;
}

.social-list-link:hover, .social-list-link-footer:hover {
  background-color: #2196F3;
}

.social-list-svg, .social-list-svg-footer {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg-footer {
  fill: #FFFFFF;
}

.social-list-link:hover .social-list-svg, .social-list-link-footer:hover .social-list-svg, .social-list-link:hover .social-list-svg-footer, .social-list-link-footer:hover .social-list-svg-footer {
  fill: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.address-svg {
  fill: #757575;
  margin-right: 10px;
}

.address-link:hover .address-svg {
  fill: #2196F3;
}

.navigation-list-link,
.address-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link:hover,
.address-link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 60px;
    position: relative;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
  }
  .header-mob-button {
    margin-top: 10px;
    margin-right: 15px;
    border: none;
    background-color: transparent;
  }
  .header-mob-button .header-menu-close {
    display: none;
  }
  .header-mob-button.is-open .header-menu-close {
    display: block;
  }
  .header-mob-button.is-open .header-menu-open {
    display: none;
  }
  .header-menu-svg {
    cursor: pointer;
  }
  .header-menu-svg:hover {
    fill: #2196F3;
  }
  .header-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: 393px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header-container.is-open {
    display: block;
    z-index: 50;
  }
  .navigation-list {
    margin-bottom: 60px;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .address-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list-link {
    position: relative;
  }
  .navigation-list-link.selected::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .header-mob-button {
    display: none;
  }
  .header {
    min-height: 80px;
    padding: 21px 0px 21px;
  }
  .header .address {
    margin-left: auto;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item {
    position: relative;
  }
  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.143;
    color: #212121;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .address-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.167;
  }
  .navigation-list-link.selected::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -33px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0px 25px;
  }
  .address-list {
    flex-direction: row;
  }
  .address-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .navigation-list-link,
  .address-link {
    font-size: 14px;
    line-height: 1.143;
    color: #212121;
  }
  .navigation-list-link.selected::after {
    bottom: -32px;
  }
}

.portfolio {
  padding: 60px 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.nav-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-button:hover, .nav-list-button:focus {
  color: #FFFFFF;
}

.nav-list-button:hover, .nav-list-button:focus {
  background: #2196F3;
}

@media screen and (max-width: 767px) {
  .nav-list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 64px;
  }
  .nav-list {
    margin-bottom: 50px;
  }
}

.projects-list {
  padding-bottom: 64px;
}

.projects-list-item {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.projects-list-description {
  padding: 20px 24px;
}

.projects-list-img {
  width: 100%;
  height: auto;
}

.projects-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 14px 19px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-overlay-list {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.476;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.projects-list-item:hover .projects-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 430px) {
  .projects-overlay {
    padding: 63px 24px;
  }
  .projects-overlay-text {
    font-size: 18px;
    line-height: 1.556;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-list-item {
    width: 354px;
  }
  .projects-list-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    width: 360px;
    /*360???!!! */
  }
  .projects-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .projects-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.footer {
  height: 603px;
  background: #2F303A;
  padding: 60px 0px;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-description {
  display: flex;
  flex-direction: column;
}

.footer-text, .footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-text:not(:first-child), .footer-contacts:not(:first-child) {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
  margin-top: 8px;
}

.footer-right-title, .footer-three-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-three-title {
  display: inline-block;
}

.footer-three-div {
  display: flex;
}

.footer-three-input {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  padding: 15px 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
}

.footer-three-input:focus {
  outline: none;
  border: 1px solid #FFFFFF;
}

.footer-three-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-three-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-left,
  .footer-right {
    margin-bottom: 60px;
    text-align: center;
  }
  .footer-three {
    text-align: center;
  }
  .footer-three-div {
    flex-direction: column;
    align-items: center;
  }
  .footer-three-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
  .footer-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-left {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
  .footer-title {
    font-size: 26px;
    line-height: 1.192;
  }
  .footer-left {
    margin-right: 70px;
  }
  .footer-description {
    min-width: 231px;
  }
  .footer-contacts {
    margin-top: 9px;
  }
  .footer-three {
    margin-left: 93px;
  }
  .footer-three-input {
    width: 358px;
  }
}
/*# sourceMappingURL=portfolio.css.map */