    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $white-color:#FFFFFF;
    $title-color: #212121;
    $text-color: #757575;
    $theme-color: #2196F3;
    $background-color: #F5F4FA;
    $footer-background: #2F303A;
    $svg-color: #AFB1B8;
    $header-border: #ECECEC;
    $projects-border: #EEEEEE;
    $second-logo-color: #000000;